/* Nav-Section CSS */
.nav{
    display: flex;
}
.nav--small-purple{
    position: absolute;
    left: 240px;
    top: 74px;
}
.nav--medium-pink{
    position: absolute;
    left: 269px;
    top: 59px;
}
.nav--about{
    position: absolute;
    left: 410px;
    top: 65px;
    
}
.nav--help{
    position: absolute;
    left: 503px;
    top: 64px;

}
.nav--feature{
    position: absolute;
    left: 578px;
    top: 64px;
}
.nav--signup{
    position: absolute;
    left: 681px;
    top: 64px;

}
.nav--demo-btn{
    position: absolute;
    left: 1150px;
    top: 47px;
}
/* Top Section  */