/* Nav-Section CSS */
.nav{
    display: flex;
}
.nav--small-purple{
    position: absolute;
    left: 240px;
    top: 74px;
}
.nav--medium-pink{
    position: absolute;
    left: 269px;
    top: 59px;
}
.nav--about{
    position: absolute;
    left: 410px;
    top: 65px;
    
}
.nav--help{
    position: absolute;
    left: 503px;
    top: 64px;

}
.nav--feature{
    position: absolute;
    left: 578px;
    top: 64px;
}
.nav--signup{
    position: absolute;
    left: 681px;
    top: 64px;

}
.nav--demo-btn{
    position: absolute;
    left: 1150px;
    top: 47px;
}
/* Top Section  */
.top-section{
    display:flex;
}
.top-section--text{
    position: absolute;
    left: 240px;
    top: 237px;
}
.top-section--small-text{
    position: absolute;
    left: 240px;
    top: 471px;
}
.top-section--two-girls{
    position: absolute;
    left: 603px;
    top: 333px;
}
.top-section--learn-more-btn{
    position: absolute;
    left: 240px;
    top: 641px;
}
.top-section--second-img{

    position: absolute;
    left: 240px;
    top: 903.18px;
}
/* Features Section */
.features--header-text{
   position: absolute;
   left: 596.29px;
    top: 1613px;
}
.features--sub-text{
    position:absolute;
    left: 380.29px;
    top: 1715px;
}
.features--image-1{
    position: absolute;
    left: 238.29px;
    top: 1873px;
}
.features--image-2{
    position: absolute;
    left: 813.28px;
    top: 1873px;
}
.features--image-3{
    position: absolute;
    left: 240.29px;
    top: 2281px;
}
.features--image-4{
    position: absolute;
    left: 818.28px;
    top: 2281px;
}

/* Testimonal-Section */
.testimonals--purple{
    position: absolute;
    left: 242px;
    top: 2789px;
}

/* Footer-Section */
.footer{
   /* background-color:green; */
   padding-bottom: 89px;
}
.footer--bottom {
    position: absolute;
    left: 0px;
    top: 3648px;
   
}